.questions-hot {
    background-color: #999;
    background-image: url('./../../img/hot/bg-hot.jpg');
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 1080px;
}