.questions-normal {
    background-color: #999;
    background-image: url('./../../../img/normal/bg-normal.jpg');
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 1080px;
}


