.strip-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: calc(100vh - 60px);
}

.strip-content__btns {
    display: flex;
    gap: 20px;

    @include mobileSm {
        flex-direction: column;
    }
}