.games-main {
    background-color: #999;
    background-image: url('./../../img/main/bg-main.jpg');
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 40px);
    
    @include tablet {
        // background-position: center -50px;
    }
    
}

.true-action-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: calc(100vh - 60px);
}

.true-action-content__btns {
    display: flex;
    gap: 20px;

    @include mobileSm {
        flex-direction: column;
    }
}




